# NOTE: variables set here can - and potentially should - be overridden when invoking the role


# INFO: The following variables are MANDATORY and will be tested for existence

# There are three different ways to define which version is going to be installed.
# All of them are mutual exclusive.
# 1.
# sft_artifact_file_path: local path in filesystem
#
# 2. (requires the checksum URL to follow certain pattern
# sft_version: string of a specific release version)
#
# 3.
# sft_artifact_file_url: URL
# sft_artifact_checksum: Same format as get_url/checksum https://docs.ansible.com/ansible/latest/collections/ansible/builtin/get_url_module.html#parameter-checksum

# sft_fqdn: String

# sft_metrics_ca_url: URL

# NOTE: either certbot is enabled or TLS files key and cert are provided
#
# certbot_account_email: String
# tls_key_path: String
# tls_cert_path: String

# FUTUREWORK: consistency: rename sft_ variables to sftd_ (currently some things
# are named sft and others sftd which is confusing).
#
# FUTUREWORK: adhere to naming best practices: rename all variables to have a
# prefix (like sft_ or sftd_) in order not to clash with other roles which may
# also have a `metrics_enabled`.

service_name: "{{ role_name }}"

# NOTE: filters out private networks as of https://tools.ietf.org/html/rfc1918#section-3
#       override to mitigate this behaviour entirely
# NOTE: there is no excluding filter, just including ones, hence such cumbersome syntax
# DOCS: https://docs.ansible.com/ansible/latest/user_guide/playbooks_filters_ipaddr.html
sft_public_ip: >-
    {{
        ansible_facts.all_ipv4_addresses
        | difference(
            ansible_facts.all_ipv4_addresses
            | ipaddr('10.0.0.0/8')
        )
        | difference(
            ansible_facts.all_ipv4_addresses
            | ipaddr('172.16.0.0/12')
        )
        | difference(
            ansible_facts.all_ipv4_addresses
            | ipaddr('192.168.0.0/16')
        )
        | first
    }}

# NOTE: exclude certain versions from being supported by the SFT server.
#       The variable defines a list of versions, where one or more version strings may
#       be prefixed by a '<' modifier. This means that all versions lower than that, are
#       rejected by the server.
sft_unsupported_client_versions: []     # each client version is supported
#  - '<5.2.10'
#  - '6.1.3'

# NOTE: for debugging purposes it might be desired to prevent log suppression
# INFO: The systemd options for this behaviour are only supported from systemd v240 onward;
#       if an older version is being used, the desired behaviour can be achieved by setting
#       https://www.freedesktop.org/software/systemd/man/journald.conf.html#RateLimitIntervalSec=
sft_prevent_log_suppression: false

# Allow SFT instances to choose/consider using a TURN server for themselves as a proxy when
# trying to establish a connection to clients
# DOCS: https://docs.wire.com/understand/sft.html#prerequisites
# NOTE: would make it possible to have TCP traffic only (depending on how Restund is being configured)
sft_turn_discovery_enabled: false

certbot_enabled: true   # implies automated renewal
certbot_in_test_mode: true

systemd_coredump_enabled: true

# NOTE: set reasonable high, while in reality still being limited by total memory size; set to 0 in order to disable
systemd_coredump_max_file_size: '4G'

# diffie-hellman keysize for nginx
sft_nginx_dh_keysize: 2048

# NOTE: disabling rate limit might be desired for on-prem scenarios
sft_nginx_rate_limit_enabled: true
sft_nginx_rate_limit_requests_per_second: 100
sft_nginx_rate_limit_burst_until: "{{ 2 * (sft_nginx_rate_limit_requests_per_second | int) }}"
sft_nginx_rate_limit_max_connection_per_address: "{{ 3 * (sft_nginx_rate_limit_burst_until | int) }}"

sft_metrics_enabled: true

sft_firewall_enabled: true
sft_firewall_ipv6_enabled: true
