- name: verifying if all required variables for SFT are set
  assert:
    that:
      - sft_fqdn is defined
    msg: '[ERR] Variable not set: sft_fqdn'

- name: verifying if all required variables for certbot are set
  when:
    - certbot_enabled | bool
  assert:
    that:
      - certbot_account_email is defined
    msg: '[ERR] Variable not set: certbot_account_email'

- name: verifying if all required TLS variables are set
  when:
    - not (certbot_enabled | bool)
  assert:
    that:
      - tls_key_path is defined
      - tls_cert_path is defined
    msg: '[ERR] Variable(s) not set: tls_cert_path & tls_key_path'

- name: verifying if all required metrics variables are set
  assert:
    that:
      - sft_metrics_ca_url is defined
    msg: '[ERR] Variable not set: sft_metrics_ca_url'
  when: sft_metrics_enabled

- name: check if {{ sft_artifact_target_path }} exists
  stat:
    path: '{{ sft_artifact_target_path }}'
  register: sftd_stat
  when:
    - sft_artifact_file_path is not defined
    - sft_artifact_file_url is not defined

- name: verifying if sft artifact can be used
  assert:
    that:
      - sftd_stat.stat.exists
    msg: |
      [ERR] SFT artifact cannot be used. Please make sure either one of these is true:
        sft_artifact_file_path is defined
        sft_artifact_file_url is defined
        {{ sft_artifact_target_path }} exists
  when:
    - sft_artifact_file_path is not defined
    - sft_artifact_file_url is not defined
