- name: copying systemd service unit
  template:
    src: 'sftd.service.j2'
    dest: "/etc/systemd/system/{{ service_name }}.service"
    owner: root
    group: root
    mode: '644'
  register: unit_sftd


- name: creating directory for coredump configuation
  file:
    state: directory
    path: "{{ systemd_coredump_service_conf_dir }}"
    owner: root
    group: root
    mode: '755'

- name: configuring coredump
  template:
    src: 'coredump.conf.j2'
    dest: "{{ systemd_coredump_service_conf_dir }}/custom.conf"
    owner: root
    group: root
    mode: '644'
  when:
    - systemd_coredump_enabled | bool


# NOTE: based on and almost identical to upstream v1.18.0
#
- name: configuring nginx
  template:
    src: 'nginx.conf.j2'
    dest: '/etc/nginx/nginx.conf'
    owner: root
    group: root
    mode: '644'
  notify:
    - reload nginx

- name: deleting nginx default site
  file:
    path: "{{ nginx_conf_dir }}/default.conf"
    state: absent
  notify:
    - reload nginx

- name: creating systemd folder to override nginx service configuration
  file:
    state: directory
    path: "{{ systemd_nginx_service_conf_dir }}"
    owner: root
    group: root
    mode: '755'

- name: overriding nginx service configuration
  template:
    src: 'nginx.service.override.j2'
    dest: "{{ systemd_nginx_service_conf_dir }}/override.conf"
    owner: root
    group: root
    mode: '644'
  notify:
    - reload systemd

- name: creating certbot webroot path
  file:
    state: directory
    path: "{{ certbot_webroot_path }}"
    owner: root
    group: root
    mode: '755'
  when: certbot_enabled | bool

- name: creating certbot sub-directories
  file:
    state: directory
    path: "{{ item }}"
    owner: root
    group: root
    mode: '755'
  when: certbot_enabled | bool
  loop:
    - "{{ certbot_live_path }}"
    - "{{ certbot_archive_path }}"

- name: configuring certbot
  template:
    src: 'certbot.ini.j2'
    dest: "{{ certbot_conf_path }}/cli.ini"
    owner: root
    group: root
    mode: '644'
  when: certbot_enabled | bool


# TODO: refactor the whole certbot initial cert obtaining process into
# a systemd oneshot unit file, including:
#   * DNS verification
#   * SFT nginx config enabling
#   * other condition checks, e.g. does the cert already exist
#
- name: configuring vhost for certbot HTTP challenge
  template:
    src: 'certbot-http-challenge.vhost.conf.j2'
    dest: "{{ nginx_conf_dir }}/certbot-http-challenge.conf"
    owner: root
    group: root
    mode: '644'
  register: ingress_certbot
  when:
    - certbot_enabled | bool

# Cannot use verify because this needs to happen immediately
# https://github.com/ansible/ansible/issues/10829
- name: reloading nginx to make webroot path available
  systemd:
    name: 'nginx'
    enabled: yes
    state: reloaded
  when:
    - certbot_enabled | bool
    - ingress_certbot.changed

- name: checking whether certificate has already been obtained by certbot
  stat:
    path: "{{ certbot_conf_path }}/live/{{ sft_fqdn }}"
  register: cert_location
  when: certbot_enabled | bool

- name: "obtaining a certificate for '{{ sft_fqdn }}' with certbot"
  when:
    - certbot_enabled | bool
    - not cert_location.stat.exists
  shell:
    cmd:
      certbot certonly
        --domains {{ sft_fqdn }}
        --agree-tos
        {% if certbot_in_test_mode %}--staging{% endif %}
        --preferred-challenges http
        --rsa-key-size 4096
        --authenticator webroot
        --webroot-path {{ certbot_webroot_path }}


- name: 'generating DH parameters for SFT nginx vhost (NOTE: This is going to take a long time)'
  openssl_dhparam:
    path: "{{ nginx_dhparams_path }}"
    size: "{{ sft_nginx_dh_keysize }}"
    owner: root
    group: root
    mode: '644'

- name: create ssl certs dir
  file:
    path: /etc/nginx/ssl/certs
    state: directory
    owner: root
    group: root
    mode: '755'
  when: sft_metrics_enabled

- name: download ca cert for metrics
  get_url:
    url: "{{ sft_metrics_ca_url }}"
    dest: "{{ sft_metrics_ca_path }}"
    mode: '400'
  when: sft_metrics_enabled
