- name: denying all ingress
  ufw:
    policy: deny
    direction: incoming
    state: enabled
    logging: off

- name: allowing all egress
  ufw:
    policy: allow
    direction: outgoing
    state: enabled
    logging: off

- name: allowing HTTP(S) ingress
  ufw:
    rule: allow
    proto: tcp
    to_port: "{{ item }}"
    state: reloaded
  loop:
    - '80'
    - '443'
    - '8443'

- name: allowing SSH ingress
  ufw:
    rule: allow
    proto: tcp
    direction: in
    to_port: '22'
    state: reloaded

- name: allowing SFT media ingress
  ufw:
    rule: allow
    proto: udp
    direction: in
    to_port: "{{ sftd_udp_port_range_start }}:{{ sftd_udp_port_range_end }}"
    state: reloaded

- name: allowing SFT media egress
  ufw:
    rule: allow
    proto: udp
    direction: out
    from_port: "{{ sftd_udp_port_range_start }}:{{ sftd_udp_port_range_end }}"
    state: reloaded

- name: configuring SFT nginx vhost
  template:
    src: 'sftd.vhost.conf.j2'
    dest: "{{ nginx_conf_dir }}/sftd.conf"
    owner: root
    group: root
    mode: '644'
  notify:
    - nginx configuration changed

- name: configuring metrics nginx vhost
  template:
    src: 'metrics.vhost.conf.j2'
    dest: "{{ nginx_conf_dir }}/metrics.conf"
    owner: root
    group: root
    mode: '644'
  notify:
    - nginx configuration changed
