server {
    server_name {{ sft_fqdn }};

    listen 80;
    listen [::]:80;


    location /.well-known/acme-challenge {
        alias {{ certbot_webroot_path }}/.well-known/acme-challenge;

        try_files $uri =404;
    }

    location / {
        return 301 https://$host$request_uri;
    }
}
