[Coredump]
# NOTE: core dump files end up in /var/lib/systemd/coredump/; use `coredumpctl` to interact
# docs: https://www.freedesktop.org/software/systemd/man/coredump.conf.html#

ProcessSizeMax={{ systemd_coredump_max_file_size }}
ExternalSizeMax={{ systemd_coredump_max_file_size }}

# NOTE: Giving everything else (metrics, web server, sidecar, and the rest of the system) a bit
#       more headroom than just the default of 10%. Since this is a relative boundary, for small
#       machines it might be a bit tight.
KeepFree=20%
