[Service]
LimitNOFILE={{ nginx_rlimit_nofile }}

ExecStartPre=/usr/sbin/nginx -t

# NOTE: redefine reload behaviour to cause configuration management
#       fail early if Nginx configuration files are flawed
ExecReload=
ExecReload=/usr/sbin/nginx -t
ExecReload=/usr/sbin/nginx -s reload

# NOTE: defaults to 'inherit' which leads to error messages not
#       appearing if nginx.conf is set to 'error_log: stderr'
StandardError=journal
