[Unit]
Description=Running service: SFT server

#After=nginx.service
#Requires=nginx.service
After=network-online.target
Wants=network-online.target


[Service]
TimeoutStartSec=0
Restart=always

# maximum size of core files (bytes)
LimitCORE=infinity
LimitCORESoft=0

User={{ SFTD_USER }}
Group={{ SFTD_GROUP }}

ExecStart={{ SFT_BIN_PATH }} \
            -I '{{ sft_local_ip }}' \
            -A '{{ sft_public_ip }}' \
            {% if sft_uuid is defined %}-u '{{ sft_uuid }}' \{% endif -%}
            -s


[Install]
WantedBy=multi-user.target
