[Unit]
Description=Running service: SFT server

After=network-online.target
Wants=network-online.target


[Service]
TimeoutStartSec=0
Restart=always

# maximum size of core files (bytes)
LimitCORE=infinity
LimitCORESoft=0

LimitNOFILE={{ sftd_limit_nofile }}

User={{ sftd_user }}
Group={{ sftd_group }}

ExecStart={{ sftd_bin_path }} \
            -I '{{ sftd_incoming_ip }}' \
            -A '{{ sft_public_ip }}' \
            {% if sft_uuid is defined %}-u '{{ sft_uuid }}' \{% endif -%}
            -s


[Install]
WantedBy=multi-user.target
