[Unit]
Description=Running service: SFT server

After=network-online.target
Wants=network-online.target


[Service]
TimeoutStartSec=0
Restart=always

# NOTE: maximum size of core files (bytes); inherently limited
#       by overall amount of available memory
# SYNTAX: $soft:$hard
LimitCORE=0:infinity

LimitNOFILE={{ sftd_limit_nofile }}

# NOTE: disable limit rate for logs to prevent journald from suppressing
#       when throughput increases. It requires both to be overridden,
#       otherwise journald would stop handling logs after the attempt
#       to suppress for the fist time after service start
LogRateLimitIntervalSec=0
LogRateLimitBurst=0

DynamicUser=yes

ExecStart={{ sftd_bin_path }} \
            -I '{{ sftd_incoming_ip }}' \
            -p '{{ sftd_signaling_port }}' \
            -A '{{ sft_public_ip }}' \
            -M '{{ sftd_incoming_ip }}' \
            -r '{{ sftd_metrics_port }}' \
            {% if sft_unsupported_client_versions | length > 0 -%}
            -b '{{ sft_unsupported_client_versions | map('trim') | join(',') }}' \
            {% endif -%}
            -u 'https://{{ sft_fqdn }}'


[Install]
WantedBy=multi-user.target
